{% extends 'home.html' %}

    
{% block contenido %}
            

<div  class="container" >
    {% if object_list %}    
    <div class="card">
        <div class="card-header text-center">
            <strong class="card-title text-uppercase">Listado de personajes </strong>
        </div>
        <div class=" table-stats order-table ov-h">
            <table class="table table-responsive">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>NOMBRE DEL PERSONAJE</th>
                        <th>RAZA</th>
                        <th>VIVO</th>
                        <th>NIVEL</th>
                        
                        {% if request.user.is_staff %}
                        <th>OPCIONES</th>
                            
                        {% endif %}
                            


                    </tr>
                </thead>
                <tbody>
                    {% for personaje in object_list %}
                        <tr class="text-center">
                            <td> {{ personaje.id }} </td>
                            <td> {{ personaje.nombrePersonaje }} </td>
                            <td> {{ personaje.raza }} </td>



                            {% if personaje.estado == True %} 
                            <td> &#10004;</td>
                            {% else %}
                            <!-- X ICON CON CODE HTML -->
                            <td>&#x2718;</td>
                            {% endif %}
                                

                            
                                

                            <td> {{ personaje.nivel }} </td>
                            
                            
                            {% if request.user.is_staff %}
                                
                            <td>                                
                    
                                <a href="{% url 'personajes:editar_personaje' personaje.id %}" class="btn btn-primary">Editar</a>

                            </td>
                            {% endif %}

                                
                        </tr>
                    {% endfor %}
                        
                </tbody>
            </table>

            {% block paginacion %}
                {% include 'components/paginacion.html' %}
            {% endblock paginacion %}
                
        </div>
    </div>
{% else %}
<h1><strong><b>No existen personajes registrados</b></strong></h1>
{% endif %}
</div>  
{% endblock contenido %}
    