{% extends 'home.html' %}

    
{% block contenido %}
            

<div  class="container" >
    {% if object_list %}    
    <div class="card">
        <div class="card-header text-center">
            <strong class="card-title ">Listado de razas </strong>
        </div>
        <div class=" table-stats order-table ov-h">
            <table class="table table-responsive">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>Nombre de la raza</th>
                        <th>Descripcion</th>
                        <th>Raza Activa</th>
                        <th>Imagen</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for raza in object_list %}
                        <tr class="text-center">
                            <td> {{ raza.id }} </td>
                            <td> {{ raza.nombre }} </td>
                            <td> {{ raza.descripcion }} </td>
                            
                            {% if raza.estado == True %} 
                            <td> &#10004;</td>
                            {% else %}
                            <!-- X ICON CON CODE HTML -->
                            <td>&#x2718;</td>
                            {% endif %}
                                

                            
                            {% if raza.imagen %}
                                <td> <img height="230" width="200" src="{{ raza.imagen.url }}"></td>
                            {% else %}
                            <td>no hay imagen</td>
                            {% endif %}

                            <td>                                
                                <a href="{% url 'razas:borrar_raza' raza.id %}" class="btn btn-danger">Eliminar</a>
                                <a href="{% url 'razas:editar_raza' raza.id %}" class="btn btn-primary">Editar</a>

                            </td>
                        </tr>
                    {% endfor %}
                        
                </tbody>
            </table>
            {% block paginacion %}
                {% include 'components/paginacion.html' %}
            {% endblock paginacion %}
        </div>
    </div>
{% else %}
<h1><strong><b>No existen razas registradas</b></strong></h1>
{% endif %}
</div>  
{% endblock contenido %}
    