{% load static %}
{% block contenido %}
    <div >
        <div class="container-slider">                        
            <section class="slider" >
                <img name="slider"  width="100%" style="height: 100vh;" src="https://steamuserimages-a.akamaihd.net/ugc/788629182335134518/1CF3B1983D1CDAD684EBF3E3921DC05643A4A17F/?imw=512&imh=237&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true">
                <script src="{% static 'js/slider/slider.js' %}"></script>                    
                
            </section>
            <script>
                window.addEventListener('load', function slider() {  
    var imagenes = []
    imagenes[0] = "{% static 'img/slider/slider1.jpg'%}";
    imagenes[1] = "{% static 'img/slider/slider2.jpg'%}";
    imagenes[2] = "{% static 'img/slider/slider3.jpg'%}";
    imagenes[3] = "{% static 'img/slider/slider4.jpg'%}";
    imagenes[4] = "{% static 'img/slider/slider5.jpg'%}";

    var tiempo = 1700

    var indiceImagenes = 0
    function cambiarImagenes() {
        document.slider.src= imagenes[indiceImagenes];
        if (indiceImagenes < 4){
            indiceImagenes++;
        }else{
        indiceImagenes= 0;
    }

    }
setInterval(cambiarImagenes,tiempo)
})
            </script>
            
            <section class="text-uppercase" style="position: absolute; bottom:0; text-align: center; color: white;">
                <h1>Un juego rpg </h1>

                <path class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste impedit rerum corporis nulla harum hic, sit recusandae? Voluptatum veniam labore velit in, nemo aspernatur beatae ducimus rerum! Sequi, id cum? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic beatae aut ad reiciendis ipsa corporis maxime, impedit accusantium! Suscipit voluptas facilis sequi libero laboriosam tenetur asperiores sunt odit. Non, debitis?</p>

            </section>          

        </div>
        
    </div>
    
{% endblock contenido %}
    